h1{
    color:blue;
}
#educationnn{
    color:black;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.my-name{
    font-size: 23px;
    line-height: 2;
}
.my-title{
    font-size: 20px;
    line-height: 0;

    color: green;  
    text-decoration: underline;
    text-shadow: 1in   
}
.contact-me{
    font-size: 15px;
    line-height: 1;

    color:red;   
}
.con{
    line-height: 1;
}
div{
    color:gray;
}